$font: 'Roboto','Helvetica', sans-serif;
$background-global: #edf3f3;
$global-color:#000000;
$header-footer-color:#3f3f3f;
$tailleThumbnails:150px;
$bg-container:#e8e8e8;
$bk:#000;
$heightHr:1px;

$colorForm:#d5d5d5;


*{
    font-family:$font;
}
body{
    background-color: $background-global;
   
}
header, footer{
    background-color:$header-footer-color;
}
.container{
    background-color:$bg-container;
}
#top-carousel{
    height:400px;
}
.hr{
    background-color:$bk; 
    height:$heightHr;
}

.formulaire{
    padding:15px;
    text-indent: 30px;
    text-align:center;
}
.formTitle {
	text-align:left;
    text-indent:110px;
}
.mail, .message, .formTitle{  
    width:80%;
}
.mail, .message,.btn-form{
    background-color:$colorForm;
    border:none;
    color:$bk;
    padding:10px;
    margin:10px;    
    display:inline-block;
}
textarea{
    resize: none;
    height: 200px;
}
.message{
    
}
.btn-form{
    margin:auto;
    width:auto;
}